services:
  payload:
    build:
      context: .
      dockerfile: Dockerfile
      depends_on:
        - mongo
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    depends_on:
      - mongo
    env_file:
      - .env
    networks:
      payload:

  mongo:
    image: mongo:latest
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    networks:
      payload:

volumes:
  data:
  node_modules:

networks:
  payload:
