services:
  payload:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    image: mongo:latest
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    deploy:
      labels:
        payload-mongo:

volumes:
  data:
  node_modules:
